<section id="footer ">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p style="font-size: 30px; font-weight: bold">Address</p>
        <p>62,near swai man singh stadidum jaipur (rajhstahan)</p>

        <p>
          Lorem ipsum dolor sit amet conse ipsa impedit dolor facilis nihil illo
          consequuntur a laborum minus dolore veritatis harum, exercitationem
          maiores! Perferendis excepturi distinctio sint!
        </p>
        <p><button class="btn btn-outline-primary">Call Now</button></p>
      </div>
      <div class="col-md-4">
        <p style="font-size: 30px; font-weight: bold">Mega Contest</p>
        <p>
          Lorem Lorem ipsum dolor sit amet, c ullam dignissimos optio eius at et
          rem! ipsum dolor sit amet consectetur adipisicing elit. Perferendis
          minima rem ipsa impedit dolor facilis nihil illo consequuntur a
          laborum minus dolore veritatis harum, exercitationem maiores!
          Perferendis excepturi distinctio sint!
        </p>
        <p><button class="btn btn-outline-primary">More Details</button></p>
      </div>
      <div class="col-md-4">
        <p style="font-size: 30px; font-weight: bold">
          Fill Your Form(for join conest)
        </p>
        <form action="/admin/queryform" method="post">
          <div id="div1"></div>
          <input
            id="email"
            type="Name"
            class="form-control mb-3"
            name="email"
            placeholder="Enter Email Addresss"
          />

          <div id="div2"></div>
          <input
            id="add"
            type="text"
            class="form-control mb-4"
            name="address"
            placeholder="Address"
          />

          <p>
            <button
              class="btn btn-primary form-control"
              onclick="return abhishek()"
            >
              Sumbit
            </button>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
