<div class="col-md-4 mt-3">
    <p>   <a href="/admin/banner"><button class="btn btn-success">Banner Page</button></a></p>
    
    <p> <a href="/admin/query"><button class="btn btn-success" style="margin-left:5px ;">Query Form</button></a></p>
 
    <p> <a href="/admin/status"><button class="btn btn-success " style="margin-left:5px ;">User status</button></a></p>
</div>